*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color:#452e6b ;
    margin: 0;
}
.nav-div{
    display: block;
    justify-content: center;
    background-color: #271a3d;
    width: 100vw;
    height: 60px;
}
.nav{
    background-color: #271a3d;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    z-index: 100;
}
.left{
    z-index: 100;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    margin: 5px;
    align-items: center;
    justify-content: left;
}
.left-logo img{
    height: 35px;
    width: 35px;
    margin-right: 25px;
}
.left ul {
    display: flex;
    align-items: center;
}
.left ul li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 10px;
    text-transform: uppercase;
}
.left ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color .1s linear;
}
.left ul li a:hover{
    color:#7353a7;
    transition: color .1s linear;
}
.right{
    margin-right: 2%;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.search{
    margin-right: 2%;
    display: flex;
    background-color: #452e6b;
    height: 70%;
    align-items: center;
    border-radius: 30px;
    width: 250px;
}
.search i {
    font-size: 15px;
    color: white;
    padding: 5px;
    margin-left: 10px;
}
.search input{
    font-size: 1.2rem;
    background-color: transparent;
    border:none;
    padding: 5px;
    color: whitesmoke;
}
.search input:focus{
    outline: 0;
}
.search input::placeholder{
    color: whitesmoke;
    opacity: .5;
}
.login {
    display: flex;
    margin: 0px 10px;
    margin-right: 20px;
}
.login a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.login i{
    padding-right: 5px;
}
.login a:hover{
    color:#7353a7;
}
.show-genre{
    z-index: 100;
    position: absolute;
    width: 730px;
    height: 250px;
    background-color:#382a50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 60px;
    left: 140px;
    display: flex;
}
.show-genre ul{
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.show-genre ul li {
    z-index: 100;
    width: 25%;
    padding: 10px;
    list-style-type: none;
    color: rgb(247, 247, 247);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.show-genre ul li:hover{
    border-radius: 3px;
    z-index: 100;
    background-color: #7353a7;
    color: #222;
    width: 25%;
}
.hide{
    display: none;
}

.show-country{
    z-index: 100;
    position: absolute;
    width: 730px;
    height: 250px;
    background-color:#382a50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 60px;
    left: 220px;
    display: flex;
}
.show-country ul{
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.show-country ul li {
    z-index: 100;
    width: 25%;
    padding: 10px;
    list-style-type: none;
    color: rgb(247, 247, 247);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.show-country ul li:hover{
    border-radius: 3px;
    z-index: 100;
    background-color: #7353a7;
    color: #222;
    width: 25%;
}
.hide2{
    display: none;
}
.movie-show-section{
    display: block;
    width: 100vw;
    position: relative;
}
.movie-show-section h1{
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 50px 20px;
}
.movie-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    margin-left: 110px;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

.show-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

.active-btn{
    background-color: #271a3d;
}
.movie-card{
    color: white;
    margin:10px;
    position: relative;
    box-shadow: 3px 6px 5px rgba(0,0,0,0.5);
    border-radius: 3px;
}
.movie-card img{
    height: 270px;
    cursor: pointer;
}
.movie-card img:hover{
    opacity: .8;
}
.hd{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 10px 5px rgba(0,0,0,0.5);
}
.movie-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width:1400px;
    justify-content: center;
    align-items: center;
    margin-left:0;
    margin-right: 0;
    padding: 0;
    flex-wrap: wrap;
    position: relative;
}
.movie-card h4{
    cursor: pointer;
    padding-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 4px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.movie-card h4:hover{
    color: #7353a7;
}
.properties{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 5px;
}
.mmm{
    border: 1px solid white;
    border-radius: 3px;
    padding: 3px;
    text-transform: capitalize;
}
.moplay{
    opacity: .9;
    display: none;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 50%;
    color: black;
    font-size: 30px;
    height: 50px;
    width: 50px;
    transform: translate(-50%,-50%);
    background-color:#a088c6 ;
    padding: 25px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.movie-card:hover .moplay{
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    color: black;
    height: 80px;
    width: 80px;
    padding-top: 10px;
    font-size: 55px;
    transform: translate(-50%,-50%);
    background-color:#a088c6 ;
    border-radius: 100%;
    cursor: pointer;
}
.movie-card:hover img{
    opacity: .5;
}
.show-section{
    max-width:1400px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left:0;
    margin-right: 0;
    padding: 0;
    flex-wrap: wrap;
    position: relative;
}
.show-section .movie-card{
    
}
.show-section .movie-card img{
    width: 210px;
}
.right-menu-for-all{
    display: none;
}
@media (max-width:1780px) {
    .movie-section{
       padding: 0 5%;
    }
    .show-section{
        padding: 0 5%;
     }
}
@media (min-width:1780px) {
    .movie-section{
        width: 70%;
    }
    .show-section{
        padding: 0 3%;
     }
    .search{
        width: 30%;
        margin-right: 5%;
    }
    .side-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .side-div div{
        width: 50%;
    }
    .right-menu-for-all{
        height: 90%;
        width: 25%;
        display: block;
        position: absolute;
        right: 20px;
        top: 160px;
        color: white;
        background-color: #271a3d;
        padding: 30px;
    }
    .right-menu-for-all h4{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .right-menu-for-all h5{
        font-size: 2rem;
        padding: 10px;
        color: #a088c6;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .right-menu-for-all p{
        color: #7353a7;
        width: fit-content;
        font-size: 1.5rem;
        margin: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        cursor: pointer;
    }
    .right-menu-for-all p:hover{
        text-decoration: underline;
    }
    .right-menu-for-all ul{
        list-style-type: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 15px 5px;
    }
    .right-menu-for-all ul li {
        margin: 10px 0px;
        cursor: pointer;
        font-size: 1.2rem;
    }
    .right-menu-for-all ul li:hover{
        
        color: #a088c6;
    }
}
footer{
    
    width: 100%;
    background-color:  #271a3d;
    height: 180px;
    text-align: center;
    align-items: center;
}
.footer-div{
    margin: 0 170px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-div div{
    
    margin: 10px 0;
}
.div-1-of-foot{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-1-of-foot span{
    margin: 0 25px;
    cursor: pointer;
}
.div-1-of-foot span:hover{
    color:#a088c6;
    
}
.pdiv{
    color:#a088c6;
    z-index: 5;
}
.hide-it{
    display: none;
}

.login-screen{
    height: fit-content;
    width:400px;
    position: absolute;
    background-color: #222;
    top: 250px;
    z-index: 400;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: .2s display ease-in;
}
.login-screen img{
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
.login-screen form{
    margin:10px 0px 5px 2px;
    width: 95%;
}
.login-screen form div{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
}
.login-screen form div label{
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: left;
}
.login-screen form div input{
    width: 100%;
    text-align: left;
    border: 2px solid #7353a7;
    height: 35px;
    padding: 5px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
}
.login-screen form div input:focus{
    outline: none;
}
.login-screen form div input::placeholder{
    color: #a088c6;
    font-size: 16px;
}
.double-side-login{
    margin-top: -12px;
    width: 100%;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.double-side-login span{
    display: flex;
    flex-direction: row;
    width: 38%;
}
.double-side-login p{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    word-spacing: 3px;
    width: 62%;
}
.double-side-login p a{
    text-decoration: none;
    margin-left: 10px;
    color: #a088c6;
    cursor: pointer;
}
.double-side-login p a:hover{
    text-decoration: underline;
}
.btn-for-login-screen{
    background-color: #382a50;
    color: white;
    border: none;
    text-transform:uppercase;
    font-size: 1rem;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}
.btn-for-login-screen:active{
    transform: scale(.98);
}
.btn-for-login-screen:hover{
    box-shadow: 5px 5px 1px rgba(0,0,0,0.5);
}
.login-cover{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
}
.hide-login{
    display: none;
    transition: .2s display ease-in;
}
.hide3{
    visibility:hidden;
    transition: .001s visibility ;
}
.sign-out{
    width: 150px;
    height: 50px;
    background-color: #382a50;
    position: absolute;
    top: 60px;
    right: 0;
    border-top: 10px solid transparent;
    display: flex;
    margin: 0px 10px;
    margin-right: 20px;
    padding:10px;
    box-shadow: 3px 4px  1px rgba(0,0,0,0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}
.sign-out p{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.sign-out i{
    padding-right: 5px;
}
.sign-out:hover p{
    color:#7353a7;
}
.sign-out:active{
    transform: scale(.98);
}

@media (max-width:500px){
    body{
        font-size: 10px;
    }
    .nav{
        display: block;
    }
    .left{
        display: block;
        text-align: center;
    }
    .left ul{
        display: none;
    }
    .right{
        margin: 15px 0px;
        justify-content: space-between;
    }
    .search{
        width: 60%;
    }
    .movie-show-section h1{
        padding-top: 20px;
        font-size: 2rem;
    }
    .movie-btn{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: auto 5px;
    }
    .show-btn{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: auto 5px;
    }
    .movie-card{
        width: 90%;
        font-size: 1rem;
    }
    .movie-card img{
        width: 100%;
        height: 120%;
    }
    .show-section .movie-card img{
        width: 100%;
        height: 110%;
    }
    .login-screen{
        width: 100%;
    }
    .sign-out{
        position: absolute;
        top: 115px;
    }
    footer{
    width: 100%;
    background-color:  #271a3d;
    height: fit-content;
    text-align: center;
    align-items: center;
    }
    .footer-div{
        margin: 0 ;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .footer-div div{
        margin: 10px 0;
    }
    .div-1-of-foot{
        padding-top: 20px;
        display: flex;
       
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .div-1-of-foot span{
        width: 48%;
        margin: 10px 0;
        cursor: pointer;
    }
} 
